# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
.turbo/

# Env
.env
.env.local
.env.*.local

# Vercel
.vercel

# Editors/OS
.DS_Store
.idea/
.vscode/
*.log
*.tsbuildinfo

# Testing
coverage/
